/* var.scss */
:root {

  // --tk-home-max-width: max(70%, 1330px); /* 现代浏览器会使用这个值 */
  // --tk-home-max-width:  calc(100% - 100% / 3);

  // /* 增大最大宽度值，默认是 1440px，可根据需要调整 */
  // --vp-layout-max-width: max(90%, 1440px);

  --vp-c-brand-1: var(--vp-c-indigo-2);

  // --vp-c-indigo-2: #299764; //预设hover
  // --vp-c-indigo-3: #299764; //预设
  --vp-c-green-2: #299764; //绿色hover
  --vp-c-green-3: #30a46c; //绿色
  --vp-c-yellow-2: #e7a200; //黄色hover
  --vp-c-yellow-3: #ffb400; //黄色
  // --vp-c-red-2: #d5393e; //红色hover
  // --vp-c-red-3: #e0575b; //红色
}

// // /* 调整主要内容区域的宽度 */
// .VPDoc.has-aside .content-container {
//   max-width: 95% !important;
// }


@mixin text-clip-common {
  background-clip: text; /* 标准语法，裁剪背景到文字 */
  -webkit-background-clip: text; /* Safari/Chrome 前缀兼容 */
  color: transparent; /* 让文字透明，露出背景渐变 */
  display: inline-block; /* 让背景仅包裹文字，而非整行 */
}

@mixin text-gradient {
  background-image: linear-gradient(
    107deg,
    rgb(255, 182, 133) -30.6%,
    rgb(255, 111, 29) -1.11%,
    rgb(252, 181, 232) 39.14%,
    rgb(135, 148, 255) 73.35%,
    rgb(60, 112, 255) 97.07%,
    rgb(60, 112, 255) 118.97%
  );
  @include text-clip-common;
}

// .VPDoc h1 {
//   @include text-gradient;
//     // 换行
//   display: table-row-group;
// }

// .VPDoc h2 {
//   @include text-gradient;
// }
// 让md里的h2标题为紫色
.VPDoc h2 {
  background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

// 草莓熊色
// #hero-text,
// .VPHero.has-image .name {
//   @include text-gradient;
// }

.VPHero.has-image .tagline {
  background: linear-gradient(to right, rgb(48, 153, 255) 0%, rgb(141, 133, 255) 63%, rgb(79, 76, 255) 100%) text;
  @include text-clip-common;
}
// 链接下划线
.vp-doc a {
  text-decoration: none;
}

// /* 鼠标样式 */
body {
  cursor: url(/mouse/default.cur), auto;
}

a,
button,
img,
svg,
input,
textarea,
select,
option,
label,
span {
  cursor: url(/mouse/pointer.cur), auto !important;
}

// 看板娘提示宽度
#oml2d-tips {
  width: 200px !important;
}

// 切换路由进度条颜色样式
.nprogress .bar {
  background: linear-gradient(
    114.2deg,
    rgba(184, 215, 21, 1) -15.3%,
    rgba(148, 187, 233, 1) 14.5%,
    rgba(21, 215, 182, 1) 38.7%,
    rgba(129, 189, 240, 1) 58.8%,
    rgba(219, 108, 205, 1) 77.3%,
    rgba(240, 129, 129, 1) 88.5%
  ) !important;
}





// ----
/* 页脚微章居中 */
.tk-footer-info p {
  display: flex;
  justify-content: center;
}

/* 移动端页脚微章布局 */
@media (max-width: 768px) {
  .tk-footer-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
  }

  .tk-footer-info p a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
  }
}

/* 页脚微章图片 */
.tk-footer-info p img {
  margin-left: 10px;
}




// 解决首页性能问题（这个fixed属性导致下方博客列表滚动卡顿，去掉就好）
.tk-banner-bg-image.full {
  background: var(--tk-banner-img-bg);
  transition: background 1s;
}



/* .vitepress/theme/style/var.css */
// 首页特性悬停效果 2025年8月14日 更新
/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}






// 开始******************************************************************************************************************
// 2025年10月15日 更新
// 控制首页卡片高度等代码
// 定义变量
$white: #ffffff;
$circle-height: 310px;
$icons-margin-top: 10px;

// 圆形背景
.is-circle-bg {
  height: $circle-height; // 首页卡片栏博主信息高度
}

.tk-my__icons {
  margin-top: $icons-margin-top; //首页卡片栏博主信息社交图标位置
  color: $white; //首页卡片栏作者信息社交图标颜色
}

// 首页卡片栏博主信息
.tk-my__blogger {
  .name,
  .slogan {
    color: $white; // 博主名称和标语颜色
    display: flex; // 水平居中
    justify-content: center; // 水平居中
  }
}

.tk-my__avatar {
  margin-top: 220px;
  margin-bottom: 7px;
}
// .is-circle-bg {
//   height: 645px;
// }




.tk-post-item-card__cover-img .cover-img {
  cursor: pointer;
  height: 190px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform .4s linear;
  width: 100%;
}

// 结束******************************************************************************************************************



// // 开始******************************************************************************************************************
// //解决v1.5.1 footer底部间距变大问题 2025年10月20日21:20:32解决  来自hyde大佬代码
// .tk-footer-info>* {
//  margin-bottom: 10px;
// }
// // 结束******************************************************************************************************************