.item-block{
 padding: var(--list-block-padding);
  margin: var(--list-block-margin);
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.6;
 ul {
    // list-style: none;
    padding-left: 0;
    margin: 8px 0;
  }

  li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 4px;

  }
}

.item-block-content {

  
  > p {
    margin: 10px 0;
    
  
  }
}

.item-block-title {
  font-weight: 600;
  margin: 0 0 8px 0 !important;
  // text-transform: capitalize;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

// .custom-item{
//      list-style: none;
//       li{
//             list-style: none;
//       }
// }